<br>
<button type="button" class="btn btn-dark float-right" routerLink="new">Scrivi <fa name="plus"></fa></button>
<br><br>
<div class="container">

  <div class="row">

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/img/temp.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">Titolo 1</h4>
          <p class="card-text">Descrizione 1</p>
          <button class="btn btn-primary float-right" routerLink="edit">Modifica <fa name="pencil"></fa></button>
        </div>
      </div>
      <br>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/img/temp.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">Titolo 2</h4>
          <p class="card-text">Descrizione 2</p>
          <button class="btn btn-primary float-right" routerLink="edit">Modifica <fa name="pencil"></fa></button>
        </div>
      </div>
      <br>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/img/temp.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">Titolo 3</h4>
          <p class="card-text">Descrizione 3</p>
          <button class="btn btn-primary float-right" routerLink="edit">Modifica <fa name="pencil"></fa></button>
        </div>
      </div>
      <br>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/img/temp.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">Titolo 4</h4>
          <p class="card-text">Descrizione 4</p>
          <button class="btn btn-primary float-right" routerLink="edit">Modifica <fa name="pencil"></fa></button>
        </div>
      </div>
      <br>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/img/temp.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">Titolo 5</h4>
          <p class="card-text">Descrizione 5</p>
          <button class="btn btn-primary float-right" routerLink="edit">Modifica <fa name="pencil"></fa></button>
        </div>
      </div>
      <br>
    </div>

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/img/temp.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">Titolo 6</h4>
          <p class="card-text">Descrizione 6</p>
          <button class="btn btn-primary float-right" routerLink="edit">Modifica <fa name="pencil"></fa></button>
        </div>
      </div>
      <br>
    </div>

  </div>

</div>


